/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 500 40px/1.2 "Ubuntu", Helvetica, Arial, serif;
$font_type1: 30px/1.2 "Ubuntu", Helvetica, Arial, serif;

.section2_layout {
  position: relative;
  height: min-content;
}
.section2 {
  @include flex-column;
}
.flex4 {
  @include flex-column;
}
.flex4_layout {
  position: relative;
  height: min-content;
  width: 94.31%;
  margin: 76px auto;
  @include xl {
    width: 95.67%;
  }
  @include lg {
    width: 96.72%;
    margin: 65px auto;
  }
  @include md {
    width: 97.52%;
    margin: 52px auto;
  }
  @include sm {
    width: 98.13%;
    margin: 42px auto;
  }
  @include xs {
    width: 98.59%;
    margin: 37px auto;
  }
  @include xxs {
    width: 98.94%;
    margin: 31px auto;
  }
  @include tn {
    width: 99.2%;
    margin: 28px auto;
  }
}
.group {
  @include flex-column;
}
.group_layout1 {
  position: relative;
  height: min-content;
  width: 31.22%;
  margin: 0px 18.92% 0px 49.85%;
}
.group_layout {
  position: absolute;
  top: 0px;
  height: 53px;
  left: -421px;
  width: 424px;
}
.image1 {
  background: var(--src) center center / contain no-repeat;
}
.image1_layout {
  position: absolute;
  top: -36px;
  height: 53px;
  width: 424px;
  right: 0px;
}
.image1_layout1 {
  position: relative;
  height: 53px;
  width: 424px;
  min-width: 424px;
}
.image1_layout2 {
  position: relative;
  height: 53px;
}
.flex5 {
  display: flex;
  @include lg {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
.flex5_layout {
  position: relative;
  height: min-content;
  margin: 147px 0px 160px;
  @include lg {
    margin: 118px 0px 128px;
  }
  @include md {
    margin: 87px 0px 93px;
  }
  @include sm {
    margin: 60px 0px 64px;
  }
  @include xs {
    margin: 47px 0px 49px;
  }
  @include xxs {
    margin: 33px 0px 34px;
  }
  @include tn {
    margin: 24px 0px;
  }
}
.flex5_item {
  @include flex-column;
  position: relative;
  flex: 1 1 512px;
  @include lg {
    flex: 0 0 100%;
  }
}
.image2 {
  background: var(--src) center center / contain no-repeat;
}
.image2_layout {
  position: relative;
  height: 512px;
}
.flex5_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 45px;
  @include lg {
    display: none;
  }
}
.flex5_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 712px;
  @include lg {
    flex: 0 0 100%;
  }
}
.flex6 {
  @include flex-column;
}
.flex6_layout {
  position: relative;
  height: min-content;
  margin: 4px 0px 102px;
  @include lg {
    margin: 5px 0px 84px;
  }
  @include md {
    margin: 5px 0px 65px;
  }
  @include sm {
    margin: 5px 0px 49px;
  }
  @include xs {
    margin: 5px 0px 40px;
  }
  @include xxs {
    margin: 5px 0px 32px;
  }
  @include tn {
    margin: 5px 0px 27px;
  }
}
.hero_title4 {
  @include font-face($font_type0, rgb(0, 0, 0), 0px);
  @include lg {
    font-size: 36px;
    text-align: left;
  }
  @include md {
    font-size: 32px;
  }
  @include sm {
    font-size: 28px;
  }
  @include xs {
    font-size: 26px;
  }
  @include xxs {
    font-size: 24px;
  }
  @include tn {
    font-size: 23px;
  }
}
.hero_title4_layout {
  position: relative;
  height: min-content;
  width: 55.34%;
  margin: 0px auto;
  @include xxs {
    width: 62.28%;
  }
  @include tn {
    width: 68.76%;
  }
}
.big_title {
  @include font-face($font_type1, rgb(63, 63, 63), 0px);
  @include lg {
    font-size: 27px;
    text-align: left;
  }
  @include md {
    font-size: 24px;
  }
  @include sm {
    font-size: 21px;
  }
  @include xs {
    font-size: 20px;
  }
  @include xxs {
    font-size: 18px;
  }
  @include tn {
    font-size: 17px;
  }
}
.big_title_layout {
  position: relative;
  height: min-content;
  margin: 106px 0px 0px;
  @include lg {
    margin: 87px 0px 0px;
  }
  @include md {
    margin: 67px 0px 0px;
  }
  @include sm {
    margin: 50px 0px 0px;
  }
  @include xs {
    margin: 41px 0px 0px;
  }
  @include xxs {
    margin: 32px 0px 0px;
  }
  @include tn {
    margin: 26px 0px 0px;
  }
}
